{% extends 'base.html' %}
{% block content %}
     <div class="">
        <form action="{% url 'create-shortener-url' %}" method="POST">
            {% csrf_token %}
                <div class="">
                  <label for="original_url">Original URL</label>
                  <input type="url" name="original_url" class=""  required>
                </div>
            <input type="submit" value="Submit" class="">
      </form>
     </div>
     <div>
        {% if shorten_url %}
            Shorten URL : <a href="{% url 'get-shortener-url' shorten_url=shorten_url%}">{{ shorten_url }}</a>
        {% endif %}

    </div>
{% endblock content %}